body {
  font-family: Arial, sans-serif;     /*Here the font is set for the page, space around the body is added and background color*/
  margin: 30px;
  background-color: #f7f7f7;
}

h1{
  text-align: center;         /*This will center our page heading*/
}

form {
  margin-bottom: 20px;                       /*This will give White Background behind form and rounded corners and spacing*/
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, button {
  padding: 8px;                        
  margin: 5px;                               /*This will style our input box and buttons*/
  border-radius: 4px;
  bborder: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;           /*This will turn the button dark blue when it is hovered*/
}

table {
  width: 100%;                           /*Table will get full width and space between cells are removed*/
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
th,td {
  border: 1px solid #ddd;             /*Adding border around table cells*/
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

.actions button {                  
  margin-right: 5px;               /*Adding spaces between buttons inside table row*/  
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));   /*Adding Grid for Books to display it well*/
  gap: 1rem;
  padding: 1rem;
}

.book-card {
  background: #fefefe;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: scale(1.04);
}

.book-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.book-meta {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.book-actions {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;                                 /*Styling the Display Grid*/
}

.book-actions button {
  flex: 1;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-actions .edit {
  background-color: #35d94b;
}

.book-actions .delete {
  background-color: #dc3545;
  color: white;
}